<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Verification</title>
</head>
<body>
  <div>
    <h1>Click This Button To Reset Your Password</h1>
    <p></p>
    <a href="{{url}}" target="_blank">
      <button style="padding : 5px; background-color: rgb(32, 91, 219) color: white"
      >Reset Password</button>
    </a>
  </div>
</body>
</html>